// @file
// Admin syles for Panels layout: left-sidebar-three-column

$panels-admin: true;

// Variables for legacy browser support.
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;
$legacy-support-for-mozilla: false;

@import '../partials/global/global';
@import '../partials/layout/panels/left-sidebar-three-column';
