// @file
// Panels layout: complex b
// Media queries use: http://breakpoint-sass.com
// Media queries use: github.com/Team-Sass/breakpoint/wiki/No-Query-Fallbacks
// Grid via: singularity.gs

.l-panels-complex-b {
  $grids: 1;
  $grids: add-grid(12 at 700px);
  $gutters: 1;
  @include breakpoint(700px, $no-query: true) {
    &.main {
      &.main-sidebar { // main and main-sidebar have content
        .l-main { @include grid-span(8,1);}
        .l-main-sidebar { @include grid-span (4,9);}
      }
    }
    .l-intro {}
    &.bottom {
      &.bottom-sidebar { // bottom and bottom-sidebar have content
				.l-bottom-sidebar { @include grid-span (4,1);}
        .l-bottom { @include grid-span(8,5);}
      }
    }
  }
}

.l-panels-complex-b {
  @include clearfix;
  .l-wrapper,
  .l-main,
  .l-main-sidebar,
  .l-intro,
  .l-bottom-sidebar,
  .l-bottom {
    @include clearfix;

    @if $panels-admin {
      @include border-box;
    }
  }
}


