// @file
// Panels layout: complex_a
// Media queries use: http://breakpoint-sass.com
// Media queries use: github.com/Team-Sass/breakpoint/wiki/No-Query-Fallbacks
// Grid via: singularity.gs

.l-panels-complex-a {
  $grids: 1;
  $grids: add-grid(12 at 700px);
  $gutters: 1;
  @include breakpoint(700px, $no-query: true) {
    &.main {
      &.main-sidebar { // 1, 2 have content
        .l-main { @include grid-span(8,1);}
        .l-main-sidebar { @include grid-span (4,9)}
      }
    }
    &.intro-first {
      &.intro-second {
        &.intro-third { // 1, 2, 3 have content
          .l-intro-first { @include grid-span(4,1); }
          .l-intro-second { @include grid-span(4,5); }
          .l-intro-third { @include grid-span(4,9); }
        }
        &.intro-third-empty { // 1, 2 have content
          .l-intro-first { @include grid-span(6,1); }
          .l-intro-second { @include grid-span(6,7); }
        }
      }
      &.intro-second-empty.intro-third { // 1, 3 have content
        .l-intro-first { @include grid-span(6,1); }
        .l-intro-third { @include grid-span(6,7); }
      }
    }
    &.intro-first-empty.intro-second.intro-third { // 2, 3 have content
      .l-intro-second { @include grid-span(6,1); }
      .l-intro-third { @include grid-span(6,7); }
    }
    &.bottom {
      &.bottom-sidebar { // 1, 2 have content
        .l-bottom-sidebar { @include grid-span (4,1); }
        .l-bottom { @include grid-span(8,5);}
      }
    }
  }
}

.l-panels-complex-a {
  @include clearfix;
  .l-wrapper,
  .l-main,
  .l-main-sidebar,
  .l-intro-first,
  .l-intro-second,
  .l-intro-third,
  .l-bottom-sidebar,
  .l-bottom {
    @include clearfix;

    @if $panels-admin {
      @include border-box;
    }
  }
}
